@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-white: #fff;
  --color-blue: #009bdf;
  --color-grey: #424242;
  --color-darkblue: #1e2849;

  --text-nav: 16px;
  --text-h1: 24px;
  --text-h2: 22px;
  --text-h3: 20px;
  --text-p: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./bg-09-free-img.jpg);
  background-size: cover;
  font-family: "poppins", sans-serif;
}

header {
  height: 60px;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #e0def7, #fff);
  position: fixed;
  z-index: 2;
  top: 0;
}

/*******NAVBAR*******/

#menu-toggle,
.menu-label {
  display: none;
}

#navbar {
  font-size: var(--text-nav);
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

ul a {
  text-decoration: none;
  color: var(--color-grey);
}

ul a:hover {
  color: var(--color-blue);
}

.nav li:first-child > a {
  color: var(--color-blue);
}

.logo {
  padding-right: 400px;
  height: 60%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-white);
  width: 100%;
}

/*******HERO*******/

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 60px;
  max-width: 1000px;
  padding: 80px 20px;
}

.text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  max-width: 80%;
}

.text-info h1 {
  color: var(--color-white);
  font-size: var(--text-h1);
  font-weight: 700;
}

.text-info p {
  color: var(--color-white);
  font-size: var(--text-p);
  font-weight: 400;
}

.photo-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  height: 300px;
}

.photo-info img {
  border-radius: 10px;
  width: 80%;
}

.text-info a {
  border-radius: 10px;
  font-size: var(--text-p);
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-blue);
  text-decoration: none;
  padding: 8px 0px;
  width: 120px;
  text-align: center;
}

/*******ABOUT*******/

#about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: var(--color-white);
  max-width: 1000px;
  min-width: 400px;
  padding: 40px;
  margin-bottom: 80px;
  height: 250px;
  background: linear-gradient(40deg, #4e285a, #344a91);
  border-radius: 10px;
}

#about p > span {
  font-weight: 700;
  font-size: var(--text-nav);
  color: var(--color-blue);
}

#about h2 {
  font-size: var(--text-h2);
}

#about p {
  font-size: var(--text-p);
}

/*******CARDS*******/

#cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  gap: 20px;
  color: var(--color-white);
  max-width: 1000px;
  padding: 40px;
  margin: 60px;
  height: 500px;
  background: linear-gradient(40deg, #361e3e, #1b2750);
  border-radius: 10px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  height: 500px;
  max-width: 1000px;
}

.info-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 40px;
}

.info-cards h2 {
  font-size: var(--text-h2);
}

.info-cards h3 {
  font-size: var(--text-h3);
}

#cards p {
  font-size: var(--text-p);
}

.info-cards p {
  font-size: var(--text-p);
}

.icons {
  display: flex;
  max-width: 25%;
}

/*******CONTACTO*******/

#contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 80px;
  max-width: 1000px;
  height: 500px;
  margin: 30px 0;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  justify-content: flex-start;
  padding: 80px;
  gap: 15px;
}

.contact-text h2 {
  font-size: var(--text-h2);
  color: var(--color-blue);
}

.contact-text p {
  font-size: var(--text-p);
}

.contact-text p:nth-of-type(2) {
  text-decoration: underline;
}

.contact-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: 300px;
}

.contact-img img {
  border-radius: 10px;
  width: 100%;
}

/*******FOOTER*******/

footer .footer-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 50px;
  font-size: var(--text-nav);
  padding: 40px;
}

.footer-list a {
  color: var(--color-white);
}
